<!-- Article rich meta -->
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "datePublished": "{{ page.date }}",
      "author": "{{ page.author }}",
      "image": "{{ page.image }}",
      "headline": "Title",
      "publisher": {
        "@type": "Organization",
        "name": "Northern Songs, Ltd.",
        "@id": "http://musicbrainz.org/label/26df054d-78cf-4d83-9bb1-a41816125528",
        "logo":""
      },
      "interactionStatistic": [
        {
          "@type": "InteractionCounter",
          "interactionService": {
            "@type": "Website",
            "name": "Twitter",
            "url": "http://www.twitter.com"
          },
          "interactionType": "http://schema.org/ShareAction",
          "userInteractionCount": "1203"
        },
        {
          "@type": "InteractionCounter",
          "interactionType": "http://schema.org/CommentAction",
          "userInteractionCount": "78"
        }
      ]
    }
  </script>
