<footer>
  <div class="container-fluid">
    <div class="text-center back-to-top-wrap" onclick="animatedScroll()">
      <i class="fa fa-angle-double-up"></i>
    </div>
    <div class="row">
      <div class="copyright col-md-5 col-md-offset-1">
        <a href="http://www.bashnetwork.com/support/" rel="support" title="Support">Support</a>&nbsp;-
        <a href="http://www.bashnetwork.com/privacy-policy/" rel="policy" title="Private Policy">Privacy Policy</a>&nbsp;-
        <a href="http://www.bashnetwork.com/terms-of-service/" rel="terms" title="Terms of Service">Terms of Service</a>&nbsp;-
        <a href="http://www.bashnetwork.com/staff-contest-rules/" rel="contest" title="Staff Contest">Staff Contest</a>&nbsp;-&nbsp;
        <a href="http://www.bashnetwork.com/venue-contest-rules/" rel="venue" title="Venue">Venue Contest</a>&nbsp;-
        <a href="http://www.bashnetwork.com/blog/" rel="blog" title="Blog">Blog</a> <p>Copyright Bash The Party Network™ 2016 - Designed by <a href="http://www.7elementswebdesign.com">7Elements Web Design</a></p>                        </div>
        <nav class="col-md-5">
          <ul class="list-inline pull-right social-list">
            <li>
              <a href="https://www.facebook.com/BashPartyNetwork/" class="btn btn-default social-icon" >
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UCKhaZp6LBjhdl34zCQbDeLw" class="btn btn-default">
                <i class="fa fa-youtube"></i>
              </a></li>
            <li>
              <a href="https://www.instagram.com/bashnetwork/" class="btn btn-default">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </footer>
