<div class="header-title row">
  <div id="nav">

    <div id="venue-access" class="">
      <button type="button" class="btn btn-md">
        Venue Login
      </button>

      <button type="button" class="btn btn-md hidden-sm hidden-xs">
        Venue Sign up
      </button>
    </div>

    <a href="{{ site.url }}{{ site.baseurl }}/blog/">
      <img src="{{ site.url }}{{ site.baseurl }}/public/images/Bash-Logo-150x150.png" alt="Bashnetwork's Logo" title="Bash" rel="blog">
    </a>

    <button  type="button" class="menu-toggle btn btn-md" onclick="menuAction();" data-target="#side-bar">
      <span class="sr-only">Menu</span>
      <i class="fa fa-bars fa-3x"></i>
    </button>
  </div>

  <div class="col-sm-8 col-sm-offset-1">
    <h1>{{ page.title }}</h1>
    <div id="title-underline"></div>
  </div>
</div>

<div id="side-bar">
  <div>
    <a href="#" onclick="menuAction(contentAction);" rel="tag" title="Close Menu">
      <i class="fa fa-times"></i>
      <span class="sr-only">Close Menu</span>
    </a>
  </div>
  <div id="side-bar-content">
    <ul>
      <li><a href="http://www.bashnetwork.com" rel="tag" title="Home">Home</a></li>
      <li></li>
      <li><a href="http://www.bashnetwork.com/#section-1" rel="tag" title="What's Bash">What's Bash</a></li>
      <li></li>
      <li><a href="http://www.bashnetwork.com/#section-2" rel="tag" title="How it Works">How it Works</a></li>
      <li></li>
      <li><a href="http://www.bashnetwork.com/#section-3" rel="tag" title="Venue Sign Up">Venue Sign Up</a></li>
      <li></li>
      <li><a href="http://www.bashnetwork.com/#section-4" rel="tag" title="Feedback">Feedback</a></li>
      <li></li>
      <li><a href="{{ site.url }}{{ site.baseurl }}/blog/" class="active" rel="tag" title="Blog">Blog</a></li>
      <li></li>
      {% if page.layout == "post" %}
        {% include post_lang_selector.html %}
      {% else %}
        {% include home_lang_selector.html %}
      {% endif %}
    </ul>
  </div>
</div>
