<aside id="category-list">
  <nav class="navbar navbar-inverse">
    <div id="categories-content" class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="#">Category1</a></li>
        <li><a href="#">Category2</a></li>

        <li id="categories-selector">
          <div class="form-group">
            <select class="form-control navbar-text">
              <option>Categories</option>
              <option value="1">Category1</option>
              <option value="2">Category2</option>
              <option value="3">Category3</option>
              <option value="3">---------</option>
              <option value="3">Category4</option>
              <option value="3">Category5</option>
              <option value="4">Category6</option>
            </select>
          </div>
        </li>
        <li><a href="#">Category3</a></li>
        <li><a href="#">Category4</a></li>
      </ul>
    </div>
  </nav>
</aside>
