
{% assign featured_posts = site.posts | where:"featured", true | where:"lang", page.lang %}
<section id="featured-posts">
  <div class="owl-carousel owl-theme">
    {% for post in featured_posts %}

      <div class="post-preview featured-post item" data-merge="2">
        <a href="{{ site.url }}{{ site.baseurl}}{{ post.url }}">
          <div class="feat-post-img">
            <img src="{{ site.url }}{{ site.baseurl }}/public/images/girls.jpg" alt="Women at a dance club" title="Girls night out">
          </div>
          <div class="feat-post-content">
            <h5>{{ post.title }}</h5>
            <span><i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.date | date_to_string }}</span>
            <span><i class="fa fa-user" aria-hidden="true"></i> {{ post.author }}</span>
          </div>

        </a>
      </div>

    {% endfor %}
  </div>
</section>
