
<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/public/js/jquery-3.1.1.min.js"></script>

<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/public/js/owl.carousel.min.js"></script>


<!-- Load Bootstrap -->
<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/public/js/bootstrap.min.js"></script>

<!-- Load FontAwesome -->
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/public/css/font-awesome.css" media="none" onload="if(media!='all')media='all'">

<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/public/js/scripts.js"></script>
